[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"
testcontainers = "*"
pytest = "*"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
uuid = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
testcontainers = "*"
httpx = "*"

[requires]
python_version = "3.11"
